body {
    font-family: "Helvetica Neue", Tahoma, sans-serif;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1064px;
    width: 100%;
    font-size: 14px;
}

/*меню*/
header {
    height: 35px;
    background: #075190;

}

.menu li {
    float: right;
}

.menu li a {
    color: #4e9dd9;
    display: block;
    padding: 10px;
    text-decoration: none;
    margin-right: 28px;
}


.act a span {
    text-decoration: underline;
}

.fa {
    color: #fff;
}

header li.flag a {
    border-left: 1px solid #56a2dc;
    color: #fff;
}
.menu li a:hover{
    background:#56a2dc;
    color: #fff;
}

/*форма*/

.form {
    background: rgba(0,0,0,0.63);
    margin: 0 auto;
    margin-top: 150px;
    width: 565px;
    height: 615px;
    text-align: center;
    border: 1px solid black;
}

h2 {
    color: #fff;
    padding: 15px;
    letter-spacing: 1px;
    font-size: 24px;
}

input[type="image"] {
    width: 275px;
    height: 35px;
    border-radius: 5px;
}

.facebook:hover {
    box-shadow: 0 0 10px 3px rgba(104,155,204,0.7);
}

.login {
    float: left;
    padding: 7px 15px;
    border-left: 1px solid #4d66a6;
}

hr {
    height: 1px;
    background-color: #fff;
    margin-bottom: 40px;
}

/*Линия с ОУ*/

.ou {
    font-size: 14px;
    color: rgb( 153, 153, 153 );
    line-height: 1.143;
    text-align: center;
    margin:30px 0 30px 0;

}

.ou:before{
    display: inline-block;
    width:120px;
    margin: 0 5px 3px 0;
    content: "";
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000;
}
.ou:after {
    display: inline-block;
    width:120px;
    margin: 0 0 3px 5px;
    content: "";
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000;
}




input[type="text"], [type="email"],[type="password"] {
    display: block;
    margin: 15px auto;
    width: 275px;
    height: 35px;
    background-color: #101010;
    border: none;
    border-bottom: 1px solid #484847;
    text-indent: 18px;
    color: #fff;
}

input {
    background: black;
    color: #4e9dd5;
}


.checkbox {
    margin: 0 140px;
    color: #c4c4c3;
    text-align: left;
}

.account {
    margin: 20px 0;
    height: 35px;
    background-image: linear-gradient(#4faddb, #2e7ac4);
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

p {
    margin: 0 125px;
    padding-bottom: 20px;
    color: #fff;
}